{% extends 'base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <form method="post" action="{% url 'login' %}" class="m-0">
    {% csrf_token %}
    <div class="flex justify-center items-center bg-slate-100 p-10">
        <div class ='flex flex-col justify-center items-center w-[450px] h-[500px] bg-white rounded-2xl	 shadow-lg	shadow-slate-600 relative'>
            <a href="{% url 'index' %}"><svg class='h-6 fill-black hover:fill-red-700 absolute top-6 right-6 cursor-pointer' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></a>
            <h1 class='text-3xl font-bold absolute top-14 text-red-600'>Авторизация</h1>
            <div class='w-full px-8 mt-20'>
                <label for="login" class="block">
                    <h1><input id="login" name="username" type="text" placeholder="Логин" class="peer border-b outline-none text-xl w-full"/></h1>
                    <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">Please provide a valid email address.</p>
                </label>
                <label class="block">
                    <h1><input name="password" type="password" placeholder="Пароль" class="peer border-b outline-none text-xl w-full"/></h1>
                    <p class="mt-2 invisible peer-invalid:visible text-pink-600 text-sm">Please provide a valid email address.</p>
                </label>
                {% if form.errors %}
                    <p class="text-center p-1 rounded-lg text-red-600 font-semibold">Неправильная пара логин/пароль. Попробуйте снова.</p>
                {% endif %}
                <div class='flex flex-col justify-center items-center'>
                    <button type="submit" value="login" class='bg-red-600 hover:bg-gray-900 rounded-3xl w-3/5 p-1.5 mt-4 text-white text-xl'>Войти</button>
                </div>
            </div>
            <div class='max-[375px]:flex max-[375px]:flex-col flex flex-row justify-center items-center gap-1 text-lg mt-10'>
                <p>У вас нет учётной записи?</p>
                <a href="{% url 'register' %}" class='text-red-700 font-semibold'>Зарегистрироваться</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}